/* Main.css */
.container {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .orderd-list-main {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .main-li {
    margin: 10px 0;
  }
  
  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userid {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    margin: 10px 0;
  }
  
  .start .btn {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;

  }
  
  .start .btn:hover {
    background-color: #0056b3;
  }
  